<div class="well">
  <div class="row">
    <div class="col-xs-4">
      <h4 class="date">{{post.date}}</h4>
      <h4>By {{post.author}}</h4>
      <h5>Last Edited on {{post.edited}}</h5>
      {{#if admin.loggedIn}}
        <i class="fa fa-trash" {{action 'delete' post}} aria-hidden="true"></i>
      {{/if}}
      {{update-post post=post update="update"}}
    </div>
    <div class="col-xs-8">
      {{#link-to 'post' post.id}}<h2>{{post.title}}</h2>
      <p>{{post-preview post.content}}</p>{{/link-to}}
    </div>
  </div>
</div>
