<h1>{{model.title}}</h1>
<h2>By {{model.author}} on {{model.date}}</h2>
<h4>Last edited on {{model.edited}}</h4>
<p>{{model.content}}</p>
<hr>
{{log model.content}}
{{#each model.comments as |comment|}}
  {{comment-tile comment=comment deleteComment="deleteComment"}}
{{/each}}
<hr>
{{new-comment save="saveComment" post=model}}
